/* src/styles/theme-switcher.css */

.theme-box {
  border: 1px solid var(--border-divider);
  border-radius: 0.5rem;
  background-color: var(--widget-bg);
  color: var(--widget-text);

  padding: 0.4rem;
  margin-top: 0.75rem;

  transition: all 0.18s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}

.theme-box:hover {
  background-color: var(--widget-hover);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.35);
}
