.root {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.root > :global(div) {
  width: 100% !important;
  height: 100% !important;
  aspect-ratio: unset !important;
}

.root :global(img) {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}
