@import "./panel.css";
@import "./kpi.css";
@import "./tree.css";
@import "./board.css";
@import "./empty.css";
@import "./loading.css";
@import "./button.css";
@import "./header.css";
@import "./modal-form.css";
@import "./badge.css";
@import "./modal.css";
@import "./table.css";
@import "./layout.css";
@import "./sidebar.css";
@import "./auth.css";