/* PATH: src/styles/design-system/antd/index.css */
/* AntD Control Layer */

@import "./button.css";
@import "./tabs.css";
@import "./table.css";
@import "./tag.css";
@import "./select.css";
@import "./modal.css";

/* ✅ 핵심: Input 룩 통일 */
@import "./input.css";
