/* src/index.css */
/* --------------------------------------------------
   App Global Style Entry
   - styles/index.css 를 단일 진입점으로 사용
-------------------------------------------------- */

@import "./styles/index.css";
